/* Global Properties */
/* html {
  scroll-behavior: smooth;
} */

body {
    background: #fdfff7;
    font-family: "system-ui", cursive;
  }
  
  /* Main Heading Font */
  .m-heading {
    font-family: "system-ui", serif;
  }

  ul {
    padding: 10px;
  }

.icon{
  padding:5px
}

#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #f9f7ff;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
  display: none;
}